{% extends 'default/layout/small.html.twig' %}

{% block body %}
    <div class="container">
        {{ include('default/alert/success.html.twig') }}
        {{ include('default/alert/data.html.twig') }}
    </div>
{% endblock %}
